@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --dark-blue: #667aff;
  --light-blue: #7386ff;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: var(--light-color);
  /* background: rgba(0, 0, 0, 0.87); */
  /* background: #fff; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #333;
}

.btn:hover {
  cursor: pointer;
}

/* Navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: coral;
  color: #fff;
  padding: 0 30px;
  font-size: 20px;
}

/* Room container */
.content {
  /* border: 1px solid blue; */
  display: flex;
  /* min-height: calc(100% - 48px); */
}

/* Video-container */
.video-container {
  flex: 3;
  padding: 20px;
  /* border: 1px solid black; */
}

.video-container .search-form {
  display: flex;
  margin-bottom: 20px;
}

.video-container .search-form input {
  width: 100%;
  padding: 5px;
  height: 40px;
}

.video-container .search-form .button {
}

.video-container iframe {
  width: 100%;
  height: 640px;
}

/* Sidebar */
.sidebar {
  flex: 1;
  border-left: 2px solid black;
}

.sidebar .sidebar-nav {
  width: 100%;
}

.sidebar .sidebar-nav .active {
  border-bottom: 2px solid var(--dark-blue);
}

.sidebar .sidebar-nav .hidden {
  display: none;
}

.sidebar .sidebar-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .sidebar-nav ul li:not(:last-child) {
  border-right: 1px solid black;
}

.sidebar .sidebar-nav li {
  padding: 10px 20px;
}

/* Chat */
.chat-container {
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: calc(100% - 47px);
}

.chat-container .chat-main {
  /* border: 1px solid red; */
  /* background-color: #fff; */
  min-height: 100%;
  /* position: relative; */
  /* margin-bottom: 20px; */
  flex: 1;
}

.chat-container .chat-main .chat-messages {
  /* max-height: 100%; */
  overflow-y: scroll;
}

.chat-container .chat-main .chat-messages .message {
  padding: 10px;
  margin-bottom: 10px;
  line-height: 1.2;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1em;
}

.chat-container .chat-main .chat-messages .message .meta {
  /* font-size: 16px; */
  font-weight: bold;
  margin-bottom: 7px;
}

.chat-form-container {
  padding: 20px 0 0 0;
  /* background-color: var(--dark-blue); */
  /* border: 1px solid black; */
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 35px;
  width: 100%;
}
