@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --dark-blue: #667aff;
  --light-blue: #7386ff;
  --light-color: #e6e9ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: var(--light-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #333;
}

.btn:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: coral;
  color: #fff;
  padding: 0 30px;
  font-size: 20px;
  height: 60px;
}

/* Room container */
.content {
  display: flex;
  min-height: calc(100% - 60px);
}

/* Video-container */
.video-container {
  flex: 3;
  padding: 30px;
}

.video-container .search-form {
  display: flex;
  margin-bottom: 30px;
}

.video-container .search-form input {
  width: 100%;
  padding: 5px;
  height: 40px;
}

.video-container #player {
  width: 100%;
  height: 590px;
}

/* Sidebar */
.sidebar {
  flex: 1;
  border-left: 2px solid black;
}

.sidebar .sidebar-nav {
  width: 100%;
}

.sidebar .sidebar-nav .active {
  border-bottom: 2px solid var(--dark-blue);
}

.sidebar .sidebar-nav ul {
  display: flex;
  justify-content: center;
}

.sidebar .sidebar-nav ul li:not(:last-child) {
  border-right: 1px dotted black;
}

.sidebar .sidebar-nav li {
  padding: 10px 20px;
  background-color: lightgray;
}

.sidebar .sidebar-nav li:hover {
  opacity: 0.8;
}

/* Chat */
.chat-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 47px);
}

.chat-container .chat-main {
  min-height: 100%;
  flex: 1;
}

.chat-container .chat-main .chat-messages {
  max-height: 590px;
  padding: 0 10px;
  overflow-y: scroll;
}

.chat-container .chat-main .chat-messages .message {
  padding: 10px;
  margin-bottom: 10px;
  line-height: 1.2;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1em;
}

.chat-container .chat-main .chat-messages .message .meta {
  font-weight: bold;
  color: var(--dark-blue);
  margin-bottom: 7px;
}

.chat-container .chat-main .chat-messages .message .meta span {
  font-size: 14px;
  color: #777;
}

.chat-form-container {
  padding: 20px 0 0 0;
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 35px;
  width: 100%;
}

/* Video Call */
.stream-container {
  padding: 20px 40px;
}

.stream-container .stream-nav {
  text-align: center;
  margin-bottom: 10px;
}

.stream-container .stream-videos {
  max-height: 650px;
  overflow-y: scroll;
}

.stream-container .stream-videos video {
  width: 100%;
}

/* Users */
.users-container {
  padding: 20px 40px;
}
